/* 메인 섹션 */
/* 슬라이드 */
.slide input[id*="slide"] {display:none;}
.slide .slidewrap {width: 100%;}
.slide .slidelist {white-space: nowrap; font-size: 0; overflow: hidden; position: relative;}
.slide .slidelist > li {display: inline-block; vertical-align: middle;  width:100%; transition:all 1.0s;}
.slide .slidelist > li > a {display:block; position: relative;}
.slide .slidelist > li > a img {width: 100%; height: 500px;}
.slide .slidelist label {position: absolute; z-index: 10; top: 50%; transform: translateY(-50%); padding:50px; cursor:pointer;}

/* input에 체크되면 슬라이드 효과 */
.slide input[id="slide01"]:checked ~ .slidewrap .slidelist > li {transform:translateX(0%);}
.slide input[id="slide02"]:checked ~ .slidewrap .slidelist > li {transform:translateX(-100%);}
.slide input[id="slide03"]:checked ~ .slidewrap .slidelist > li {transform:translateX(-200%);}

/* 좌,우 슬라이드 버튼 */
.slide-control > div {display:none;}
.slide .left {left: 30px; background: url('../images/left.png') center center / 40% no-repeat;}
.slide .right {right: 30px; background: url('../images/right.png') center center / 40% no-repeat;}
.slide input[id="slide01"]:checked ~ .slidewrap .slide-control > div:nth-child(1) {display:block;}
.slide input[id="slide02"]:checked ~ .slidewrap .slide-control > div:nth-child(2) {display:block;}
.slide input[id="slide03"]:checked ~ .slidewrap .slide-control > div:nth-child(3) {display:block;}

/* 아이콘1-마우스 */
.icon1{padding: 10px; text-align: center;}
.icon1 img{padding: 10px;}

/* 갤러리 컨테이너 */
.gallery-container {
	margin-top: 200px;
 	padding: 50px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: center;
	justify-content: space-evenly;
	align-items: center;
}
.gallery-container a {
	margin-top: 20px;
	flex-grow: 0;
	flex-basis: 200px;
	max-width: 200px;
}
.gallery-container img {
	height: 200px;
	width: 200px;
}
.gallery-container> a:hover img{
	filter: brightness(70%);
}

/* 전시 정보 */
.art-info-container {
	margin-top: 100px;
	margin-bottom: 100px;
	padding: 50px;
	display: grid;
	place-items: center;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(4, 1fr);
	row-gap: 30px;
}
.art{
	width: 500px;
	height: 300px;
	overflow: hidden;
	background-color: #eee;
}
.art-img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* 마우스 오버 효과 */
.art-img{
  display: inline-block;
  position: relative;
	overflow: hidden;
}
.art-img:hover:after,
.art-img:hover > .hover_text
{
  display:block;
}
.auction-pre .auction-pre-img > li:hover img{
	filter: brightness(70%);
}
.auction-ing .auction-ing-img > li:hover img{
	filter: brightness(70%);
}
.auction-last .auction-last-img > li:hover img{
	filter: brightness(70%);
}
.hover_text {
  position: absolute;
  color: red;
  z-index: 20;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
